body {
   margin: 0;
   font-family: 'Georgia', serif;
   background: url('img.jpg') center/cover no-repeat;
   min-height: 100vh;
   color: #000;

}

header {
   background-color: #000;
   color: #eb0808;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px 35px;
   position: sticky;
   top: 0;
   z-index: 1000;

}

.logo h1 {
   margin: 0;
   font-size: 32px;
}

.logo span {
   color: #c5c5c5;
}

nav a {
   color: white;
   margin-left: 25px;
   text-decoration: none;
   font-weight: bold;
   transition: color 0.3s;

}

nav a:hover {
   text-decoration: underline;
   color: #439984;
}

.banner {
   text-align: center;
   padding: 80px 20px;
   background: rgba(0, 0, 0, 0.5);
   backdrop-filter: blur(3px);
   color: white;

}

.banner h2 {
   font-size: 42px;
   margin-bottom: 15px;
   font-family: 'Times New Roman', serif;

}

.banner p {
  font-size: 20px;
   margin-bottom: 30px;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
   
}

.botao {
   background: linear-gradient(to left, #d36868, #eeb7b7);
   color: #000000;
   padding: 12px 30px;
   border-radius: 30px;
   text-decoration: none;
   font-weight: bold;
   transition: background-color 0.4s, transform 0.3s;
   
}

.botao:hover {
   background-color: #000;
   color: white;
   transform: scale(1.05);
}

.servicos {
   text-align: center;
   padding: 60px 20px;


}

.servicos h2 {
   font-size: 32px;
   margin-bottom: 40px;
   color: #fff;
   background-color: rgba(0, 0, 0, 0.6);
   padding: 10px 20px;
   border-radius: 10px;
   display: inline-block;
}

.cards {
   display: flex;
   justify-content: center;
   gap: 30px;
   flex-wrap: wrap;


}

.card {
   background-color: rgba(112, 27, 27, 0.1);
   width: 280px;
   padding: 25px;
   border-radius: 20px;
   box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
   backdrop-filter: blur(10px);
   text-align: left;
   color: #fff;
}

.card h3 {
   margin-top: 0;
   color: #b97070;
   font-size: 20px;
   
}

.contato{
   background-color: white;
   width: 90%;
   max-width: 600px;
   margin: 50px auto;
   padding: 40px 30px;
   border-radius: 15px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
   
}
.contato h2{
   text-align: center;
   color: #f35d5d;
   margin-bottom: 30px;

}

input[type="text"], input[type="email"], textarea{
   width: 100%;
   padding: 12px;
   margin-bottom: 20px;
   border: 1px solid #ca5454;
   border-radius: 8px;
   font-size: 16px;
}

input[type=submit]{
   background: linear-gradient(to left, #d36868, #eeb7b7);
   color: #000000;
   padding: 12px 24px;
   border: none;
   border-radius: 20px;
   cursor: pointer;
   font-weight: bold;
   width: 100%;
   transition: background-color 0.3s;

}

input[type="submit"]:hover{
   background-color: beige;
   color: white;
}